:root {
    --outline-color: rgba(111, 250, 30, 0.9);
    --bg-color: #f0f0f0;
    --border-color: #080808;
    --symbol-scale: 1;
    --symbol-width: 10px;
    --symbol-height: 6px;
    --symbol-padding: 1px;
    --image: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #2f497d;
}

#input {
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 0.5ex 0.5em;
}

.char {
    background-image: var(--image);
    background-size: calc(var(--symbol-width) * 8 * var(--symbol-scale)) calc(var(--symbol-height) * 24 * var(--symbol-scale));
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: calc(var(--symbol-width) * var(--symbol-scale));
    height: calc(var(--symbol-height) * var(--symbol-scale));
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    margin: calc(var(--symbol-padding) * var(--symbol-scale)) calc(var(--symbol-padding) * var(--symbol-scale)) 0 0;
}

.highlighted {
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--outline-color);
    background-color: var(--outline-color);
}

.options {
    margin: 5px 0;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
}

.options>div {
    display: flex;
    flex-direction: column;
    padding: 4px 7px;
    font-weight: bold;
    cursor: default;
}

.options>* {
    padding: 2px 8px 2px 3px;
}

#output {
    display: block;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 60%;
    max-width: 100%;
    overflow: scroll;
}

.dragging {
    background-color: #e0cfae !important;
}

footer {
    color: #f0f0f3;
    padding: 1ex 0.5em;
    font-weight: bold;
}

footer a {
    color: #f3f3f8
}

footer a:visited {
    color: #e1e1e7
}