:root {
    --outline-color: rgba(111, 250, 30, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#input {
    width: 100%;
}

.char {
    background-image: url(data/pixel-font.png);
    background-size: calc(80px * var(--symbol-scale)) calc(144px * var(--symbol-scale));
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: calc(var(--symbol-width) * var(--symbol-scale));
    height: calc(var(--symbol-height) * var(--symbol-scale));
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    margin: calc(var(--symbol-padding) * var(--symbol-scale)) calc(var(--symbol-padding) * var(--symbol-scale)) 0 0;
}

.highlighted {
    outline-style: solid;
    outline-width: 4px;
    outline-color: var(--outline-color);
    background-color: var(--outline-color);
}

.options {
    margin: 5px 0;
    border: 1px solid black;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

.options>div {
    display: flex;
    flex-direction: column;
    padding: 4px 7px;
}

.options>* {
    padding: 2px 8px 2px 3px;
}

#output {
    display: block;
    background-color: transparent;
    padding: 10px;
    max-height: 60%;
    max-width: 100%;
    overflow: scroll;
}
